.vscode/**
.vscode-test/**
**/.DS_Store
src/**
.gitignore
.husky/**
.superpowers/**
docs/**
**/*.ts
!out/**
node_modules/**
*.vsix
eslint.config.mjs
prettier.config.mjs
tsconfig.json
vitest.config.mts
vitest.config.ts
.prettierignore
.prettierrc.json
package-lock.json
CONTRIBUTING.md
**/__tests__/**
